@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header,
.topcontainer,
.footer {
    background-color: #232E00;
}

.bottomcontainer {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: center;
    gap: 700px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 16px;
    
}

ul > a {
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.topcontainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.topcontainer > iframe {
    width: 432px;
    height: 243px;
}

.herocontainer {
    max-width: 800px;
}

.herocontainer > a > button {
    padding: 10px;
    background-color: #72906C;
    border: none;
    border-color: #F9FAF8;
    border-radius: 6px;
    color: #F9FAF8;
    
}

.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 10px;
}

.herosecondary {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.midcontainer {
    padding: 60px 30px;
}

.windows {
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
}

.window > a > img {
    width: 100px;
}

.midtext {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #232E00;
}

.bottomcontainer {
    padding: 60px 30px;
    background-color: #E5E7EB;
}

.quotecontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    
}

.quote {
    display: flex;
    justify-content: flex-start;
    max-width: 1072px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.author {
    display: flex;
    margin-left: 780px;
    max-width: 780px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.lowerbottomcontainer {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
}

.bluecontainer {
    display: flex;
    justify-content: center;
    gap: 160px;
    align-items: center;
    background-color:   #72906C;
    width: 800px;
    padding: 30px 70px;
    border-radius: 10px;
    
}

.bluecontainer > a > button {

    width: 120px;
    padding: 5px 20px;
    background-color: #72906C;
    border: 2px solid;
    border-color: #F9FAF8;
    border-radius: 6px;
    color: #F9FAF8;
}

.calltoactionmaintext {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
}

.calltoactionsecondarytext {
    color: #F9FAF8;
}

.footer {
    padding: 10px 0;
}

.footer > p {
    text-align: center;
    color: #F9FAF8;
}